In [55]:
import pandas as pd
import numpy as np
import re

In [149]:
defending_df = pd.read_csv('uncleaned_data_csv/defending.csv', header=None)
passing_df = pd.read_csv('uncleaned_data_csv/passing.csv', header=None)
seasons_stats_df = pd.read_csv('uncleaned_data_csv/seasons_stats.csv', header=None)
standard_df = pd.read_csv('uncleaned_data_csv/standard.csv', header=None)
seasons_wages_df = pd.read_csv('uncleaned_data_csv/seasons_wages.csv')

## Quick glance at defending csv

In [57]:
defending_df.head()

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,NaN,NaN,NaN,NaN,NaN,NaN,Rk,Player,Nation,Position,...,Tackles (Def 3rd),Tackles (Mid 3rd),Tackles (Att 3rd),Dribblers Tackled,Dribbles Challenged,% of Dribblers Tackled,Challenges Lost,Blocks,Shots Blocked,Season
1,1,Patrick van Aanholt,nl NED,DF,Crystal Palace,eng Premier League,26,1990,24.3,47,...,18,24,5,19,47,94,64,2,Matches,2017-2018
2,2,Rolando Aarons,eng ENG,"MF,FW",Newcastle Utd,eng Premier League,21,1995,1.5,4,...,2,3,0,3,1,5,0,0,Matches,2017-2018
3,3,Rolando Aarons,eng ENG,"MF,FW",Hellas Verona,it Serie A,21,1995,5.7,13,...,6,3,1,2,2,15,0,0,Matches,2017-2018
4,4,Ignazio Abate,it ITA,DF,Milan,it Serie A,30,1986,11.7,20,...,5,22,2,20,8,28,29,0,Matches,2017-2018

## Quick glance at passing csv

In [148]:
passing_df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Rk,...,Passes Attempted (Short),Pass Completion % (Short),Passes Completed (Medium),Passes Attempted (Medium),Pass Completion % (Medium),Passes Completed (Long),Passes Attempted (Long),Pass Completion % (Long),Assists,Season
0,1,Patrick van Aanholt,nl NED,DF,Crystal Palace,eng Premier League,26,1990,24.3,884,...,2.1,1.8,-1.1,18,63,28,6,92,Matches,2017-2018
1,2,Rolando Aarons,eng ENG,"MF,FW",Newcastle Utd,eng Premier League,21,1995,1.5,29,...,0.0,0.0,0.0,0,2,1,1,3,Matches,2017-2018
2,3,Rolando Aarons,eng ENG,"MF,FW",Hellas Verona,it Serie A,21,1995,5.7,87,...,0.2,0.1,-0.2,3,8,7,1,17,Matches,2017-2018
3,4,Ignazio Abate,it ITA,DF,Milan,it Serie A,30,1986,11.7,625,...,0.5,0.8,-0.5,10,55,20,7,81,Matches,2017-2018
4,5,Aymen Abdennour,tn TUN,DF,Marseille,fr Ligue 1,27,1989,5.5,310,...,0.0,0.0,0.0,0,8,0,0,12,Matches,2017-2018

In [59]:
seasons_stats_df.head()

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,NaN,NaN,NaN,NaN,NaN,NaN,Rk,Squad,Competition,# of Players,...,npxG: Non-Penalty xG,xAG: Exp. Assisted Goals,npxG + xAG,Progressive Carries,Progressive Passes,Goals/90,Assists/90,Goals + Assists/90,Non-Penalty Goals/90,Season
1,1.0,Alavés,es La Liga,30.0,25.5,40.3,38,418,"3,420",38.0,...,0.82,1.87,1.03,1.84,1.01,0.73,1.74,0.95,1.68,2017-2018
2,2.0,Amiens,fr Ligue 1,30.0,27.5,43.3,38,418,"3,420",38.0,...,0.63,1.58,0.87,1.50,0.86,0.56,1.42,0.78,1.35,2017-2018
3,3.0,Angers,fr Ligue 1,27.0,27.1,45.1,38,418,"3,420",38.0,...,0.79,1.87,0.97,1.76,1.25,0.93,2.18,1.17,2.10,2017-2018
4,4.0,Arsenal,eng Premier League,30.0,26.8,61.4,38,418,"3,420",38.0,...,1.61,3.53,1.82,3.42,1.80,1.40,3.20,1.69,3.10,2017-2018

In [150]:
standard_df.head()

,0,1,2,3,4,5,6,7,8,9,...,29,30,31,32,33,34,35,36,37,38
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rk,Player,Nation,...,xAG: Exp. Assisted Goals,npxG + xAG,Progressive Carries,Progressive Passes,Progressive Passes Rec,Goals/90,Assists/90,Goals + Assists/90,Non-Penalty Goals/90,Season
1,1,Patrick van Aanholt,nl NED,DF,Crystal Palace,eng Premier League,26,1990,28,25,...,0.25,0.21,0.25,0.13,0.09,0.21,0.13,0.21,Matches,2017-2018
2,2,Rolando Aarons,eng ENG,"MF,FW",Newcastle Utd,eng Premier League,21,1995,4,1,...,0.00,0.00,0.00,0.04,0.00,0.04,0.04,0.04,Matches,2017-2018
3,3,Rolando Aarons,eng ENG,"MF,FW",Hellas Verona,it Serie A,21,1995,11,6,...,0.00,0.00,0.00,0.03,0.03,0.06,0.03,0.06,Matches,2017-2018
4,4,Ignazio Abate,it ITA,DF,Milan,it Serie A,30,1986,17,11,...,0.09,0.09,0.09,0.01,0.04,0.06,0.01,0.06,Matches,2017-2018

In [60]:
seasons_wages_df.head()

,Rk,Squad,Competition,# of Players,Weekly Wages,Annual Wages,% Estimated,Season
0,1,Barcelona,es La Liga,33,"€ 4,682,115 (£ 3,925,993, $4,771,599)","€ 243,470,000 (£ 204,151,634, $248,123,125)",100%,2017-2018
1,2,Real Madrid,es La Liga,33,"€ 3,949,904 (£ 3,312,027, $4,025,393)","€ 205,395,000 (£ 172,225,426, $209,320,446)",100%,2017-2018
2,3,Paris S-G,fr Ligue 1,35,"€ 3,895,462 (£ 3,266,377, $3,969,910)","€ 202,564,000 (£ 169,851,608, $206,435,344)",100%,2017-2018
3,4,Manchester Utd,eng Premier League,35,"€ 3,810,955 (£ 3,195,596, $3,883,356)","€ 198,169,670 (£ 166,171,000, $201,934,520)",100%,2017-2018
4,5,Arsenal,eng Premier League,45,"€ 3,629,433 (£ 3,043,385, $3,698,385)","€ 188,730,521 (£ 158,256,000, $192,316,043)",100%,2017-2018

## Understanding the values in each column

In [61]:
for col in defending_df.columns:
    print(f"Column: {col}")
    print(defending_df[col].unique()[:10])  # Print first 10 unique values
    print("\n")

Column: 0
[nan '1' '2' '3' '4' '5' '6' '7' '8' '9']


Column: 1
[nan 'Patrick van Aanholt' 'Rolando Aarons' 'Ignazio Abate'
 'Aymen Abdennour' 'Aly Abeid' 'Mehdi Abeid' 'David Abraham'
 'Tammy Abraham' 'Amir Abrashi']


Column: 2
[nan 'nl NED' 'eng ENG' 'it ITA' 'tn TUN' 'mr MTN' 'dz ALG' 'ar ARG'
 'al ALB' 'gh GHA']


Column: 3
[nan 'DF' 'MF,FW' 'MF' 'FW' 'GK' 'DF,FW' 'Pos' 'DF,MF' 'FW,MF']


Column: 4
[nan 'Crystal Palace' 'Newcastle Utd' 'Hellas Verona' 'Milan' 'Marseille'
 'Levante' 'Dijon' 'Eint Frankfurt' 'Swansea City']


Column: 5
[nan 'eng Premier League' 'it Serie A' 'fr Ligue 1' 'es La Liga'
 'de Bundesliga' 'Comp']


Column: 6
['Rk' '26' '21' '30' '27' '19' '24' '31' '29' '25']


Column: 7
['Player' '1990' '1995' '1986' '1989' '1997' '1992' '1988' '1985' '1987']


Column: 8
['Nation' '24.3' '1.5' '5.7' '11.7' '5.5' '0.9' '13.1' '25.6' '19.2']


Column: 9
['Position' '47' '4' '13' '20' '7' '2' '23' '40' '10']


Column: 10
['Squad' '32' '4' '8' '17' '3' '1' '15' '6' '5']


Column: 11
['Competition' '29' '3' '4' '10' '5' '1' '8' '15' '26']


Column: 12
['Age' '15' '1' '4' '9' '2' '14' '10' '7' '18']


Column: 13
['Year of birth' '3' '0' '5' '1' '2' '6' 'Att 3rd' '13' '8']


Column: 14
['90s Played' '16' '4' '1' '6' '0' '8' '27' '22' '5']


Column: 15
['Tackles' '34' '6' '7' '11' '1' '32' '36' '13' '23']


Column: 16
['Tackles Won' '47.1' '66.7' '14.3' '54.5' '57.1' '0.0' '25.0' '75.0'
 '7.7']


Column: 17
['Tackles (Def 3rd)' '18' '2' '6' '5' '3' '1' '24' '9' '12']


Column: 18
['Tackles (Mid 3rd)' '24' '3' '22' '5' '1' '11' '29' '8' '42']


Column: 19
['Tackles (Att 3rd)' '5' '0' '1' '2' '6' '15' '21' '3' '26']


Column: 20
['Dribblers Tackled' '19' '3' '2' '20' '0' '1' '5' '14' '7']


Column: 21
['Dribbles Challenged' '47' '1' '2' '8' '4' '3' '18' '40' '19']


Column: 22
['% of Dribblers Tackled' '94' '5' '15' '28' '11' '41' '80' '54' '139']


Column: 23
['Challenges Lost' '64' '0' '29' '20' '3' '25' '141' '11' '255']


Column: 24
['Blocks' '2' '0' '1' 'Err' '3' '4' '7' '6' '5']


Column: 25
['Shots Blocked' 'Matches']


Column: 26
['Season' '2017-2018' '2018-2019' '2019-2020' '2020-2021' '2021-2022'
 '2022-2023' '2023-2024']

## Fixing column names in the table

In [151]:
def clean_header_rows_modular(df, header_identifier="Rk"):
    """
    Cleans a DataFrame by:
    1. Removing the first row (incorrect header).
    2. Finding the first row where the first column matches header_identifier (e.g., 'Rk') and using it as the header.
    3. Removing all rows where the first column matches header_identifier (removes repeated headers).
    4. Resets the index and returns the cleaned DataFrame.

    Parameters:
        df (pd.DataFrame): The input DataFrame.
        header_identifier (str): The value in the first column that identifies the header row.

    Returns:
        pd.DataFrame: Cleaned DataFrame with proper headers and no repeated header rows.
    """
    # 1. Remove the first row (incorrect header)
    df = df.drop(index=0).reset_index(drop=True)

    # 2. Find the first row where the first column matches header_identifier
    header_row_idx = df[df.iloc[:, 0] == header_identifier].index
    if len(header_row_idx) == 0:
        raise ValueError(f"No header row found with first column == '{header_identifier}'")
    header_row_idx = header_row_idx[0]

    # 3. Set the header
    new_header = df.iloc[header_row_idx]
    df = df[(df.iloc[:, 0] != header_identifier)].reset_index(drop=True)
    df.columns = new_header

    # 4. Remove the header row from the data (if still present)
    df = df[df.iloc[:, 0] != header_identifier].reset_index(drop=True)

    # 5. Check: Ensure no header rows remain
    assert (df.iloc[:, 0] != header_identifier).all(), "Header rows still present after cleaning!"

    return df

In [152]:
defending_df_cleaned = clean_header_rows_modular(defending_df)
defending_df_cleaned.head()

25,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,90s,Tkl,...,Lost,Blocks,Sh,Pass,Int,Tkl+Int,Clr,Err,Matches,2017-2018
0,1,Patrick van Aanholt,nl NED,DF,Crystal Palace,eng Premier League,26,1990,24.3,47,...,18,24,5,19,47,94,64,2,Matches,2017-2018
1,2,Rolando Aarons,eng ENG,"MF,FW",Newcastle Utd,eng Premier League,21,1995,1.5,4,...,2,3,0,3,1,5,0,0,Matches,2017-2018
2,3,Rolando Aarons,eng ENG,"MF,FW",Hellas Verona,it Serie A,21,1995,5.7,13,...,6,3,1,2,2,15,0,0,Matches,2017-2018
3,4,Ignazio Abate,it ITA,DF,Milan,it Serie A,30,1986,11.7,20,...,5,22,2,20,8,28,29,0,Matches,2017-2018
4,5,Aymen Abdennour,tn TUN,DF,Marseille,fr Ligue 1,27,1989,5.5,7,...,3,5,5,0,4,11,20,0,Matches,2017-2018

In [153]:
passing_df_cleaned = clean_header_rows_modular(passing_df)
passing_df_cleaned.head()

25,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,90s,Cmp,...,xAG,xA,A-xAG,KP,1/3,PPA,CrsPA,PrgP,Matches,2017-2018
0,1,Patrick van Aanholt,nl NED,DF,Crystal Palace,eng Premier League,26,1990,24.3,884,...,2.1,1.8,-1.1,18,63,28,6,92,Matches,2017-2018
1,2,Rolando Aarons,eng ENG,"MF,FW",Newcastle Utd,eng Premier League,21,1995,1.5,29,...,0.0,0.0,0.0,0,2,1,1,3,Matches,2017-2018
2,3,Rolando Aarons,eng ENG,"MF,FW",Hellas Verona,it Serie A,21,1995,5.7,87,...,0.2,0.1,-0.2,3,8,7,1,17,Matches,2017-2018
3,4,Ignazio Abate,it ITA,DF,Milan,it Serie A,30,1986,11.7,625,...,0.5,0.8,-0.5,10,55,20,7,81,Matches,2017-2018
4,5,Aymen Abdennour,tn TUN,DF,Marseille,fr Ligue 1,27,1989,5.5,310,...,0.0,0.0,0.0,0,8,0,0,12,Matches,2017-2018

In [155]:
# Check for repeated header rows after cleaning
def check_repeated_header_rows(df, header_identifier="Rk"):
    repeated = df[df.iloc[:, 0] == header_identifier]
    if not repeated.empty:
        print(f"Warning: Found {len(repeated)} repeated header row(s) after cleaning!")
        print(repeated)
    else:
        print("No repeated header rows found. Cleaning successful!")

# Example usage after cleaning:
check_repeated_header_rows(defending_df_cleaned)
check_repeated_header_rows(passing_df_cleaned)

No repeated header rows found. Cleaning successful!
No repeated header rows found. Cleaning successful!

In [154]:
standard_df_cleaned = clean_header_rows_modular(standard_df)
standard_df_cleaned.head()

25,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Matches,2017-2018
0,1,Patrick van Aanholt,nl NED,DF,Crystal Palace,eng Premier League,26,1990,28,25,...,0.25,0.21,0.25,0.13,0.09,0.21,0.13,0.21,Matches,2017-2018
1,2,Rolando Aarons,eng ENG,"MF,FW",Newcastle Utd,eng Premier League,21,1995,4,1,...,0.00,0.00,0.00,0.04,0.00,0.04,0.04,0.04,Matches,2017-2018
2,3,Rolando Aarons,eng ENG,"MF,FW",Hellas Verona,it Serie A,21,1995,11,6,...,0.00,0.00,0.00,0.03,0.03,0.06,0.03,0.06,Matches,2017-2018
3,4,Ignazio Abate,it ITA,DF,Milan,it Serie A,30,1986,17,11,...,0.09,0.09,0.09,0.01,0.04,0.06,0.01,0.06,Matches,2017-2018
4,5,Aymen Abdennour,tn TUN,DF,Marseille,fr Ligue 1,27,1989,8,6,...,0.00,0.00,0.00,0.02,0.00,0.02,0.02,0.02,Matches,2017-2018

## Dealing with repeated column names throughout the table

In [68]:
# View unique entries in the 'Nation' column
print("Unique values in the Nation column:")
print(defending_df_cleaned['Nation'].unique())

# View unique entries in the 'Comp' column
print("\nUnique values in the Comp column:")
print(defending_df_cleaned['Comp'].unique())

Unique values in the Nation column:
['nl NED' 'eng ENG' 'it ITA' 'tn TUN' 'mr MTN' 'dz ALG' 'ar ARG' 'al ALB'
 'gh GHA' 'sct SCO' 'es ESP' 'bj BEN' 'de GER' 'fr FRA' 'iq IRQ' 'cd COD'
 'uy URU' 'ci CIV' 'br BRA' 'ma MAR' 'ch SUI' 'ng NGA' 'at AUT' 'cl CHI'
 'be BEL' 'cm CMR' 'wls WAL' 'py PAR' 'id IDN' 'sn SEN' 'dk DEN' 'ro ROU'
 'jm JAM' 'pt POR' 'ca CAN' 'se SWE' 'ie IRL' 'jp JPN' 'ga GAB' 'cg CGO'
 'gf GUF' 'co COL' 'hr CRO' 'ba BIH' 'cz CZE' 'mk MKD' 'gm GAM' 'rs SRB'
 'ao ANG' 'ht HAI' 'gp GLP' 'cv CPV' 'tg TOG' 'pl POL' 'si SVN' 'ly LBY'
 'sk SVK' 'cw CUW' 'bi BDI' 'is ISL' 'ml MLI' 'cr CRC' 'us USA' 'nir NIR'
 'li LIE' 'tr TUR' 'mq MTQ' 'ec ECU' 'gn GUI' 'ug UGA' 'pe PER' 'kr KOR'
 'ru RUS' 'no NOR' 've VEN' 'bf BFA' 'hu HUN' 'sa KSA' 'za RSA' 'gr GRE'
 'eg EGY' 'mx MEX' 'do DOM' 'bg BUL' 'nc NCL' 'xk KVX' 'il ISR' 'fi FIN'
 'ph PHI' 'gw GNB' 'md MDA' 'me MNE' 'sl SLE' 'la LAO' 'ee EST' 'ne NIG'
 'cf CTA' 'ua UKR' 'kp PRK' 'mg MAD' 'au AUS' 'hn HON' 'km COM' 'lu LUX'
 'gq EQG' 'mz MOZ' 'am ARM' 'td CHA' 'ke KEN' 'nz NZL' nan 'bm BER'
 'Nation' 'tt TRI' 'ir IRN' 'cy CYP' 'cn CHN' 'ge GEO' 'gt GUA' 'sr SUR'
 'mf SMN' 'bo BOL' 'lt LTU' 'cu CUB' 'pa PAN' 'zw ZIM' 'tz TAN' 'zm ZAM'
 'kn SKN' 'uz UZB' 'fo FRO' 'gd GRN' 'ps PLE' 'lv LVA' 'sy SYR' 'jo JOR'
 'mt MLT']

Unique values in the Comp column:
['eng Premier League' 'it Serie A' 'fr Ligue 1' 'es La Liga'
 'de Bundesliga' 'Comp']

In [69]:
# Identify all column names
columns = defending_df_cleaned.columns

# Find duplicate "Tkl" columns
tkl_indices = [i for i, col in enumerate(columns) if col == "Tkl"]

# If there are multiple "Tkl" columns, rename the second one
if len(tkl_indices) > 1:
    defending_df_cleaned.columns.values[tkl_indices[1]] = "DribTkl"

# Print to confirm renaming worked
print(defending_df_cleaned.columns)

Index(['Rk', 'Player', 'Nation', 'Pos', 'Squad', 'Comp', 'Age', 'Born', '90s',
       'Tkl', 'TklW', 'Def 3rd', 'Mid 3rd', 'Att 3rd', 'DribTkl', 'Att',
       'Tkl%', 'Lost', 'Blocks', 'Sh', 'Pass', 'Int', 'Tkl+Int', 'Clr', 'Err',
       'Matches', '2017-2018'],
      dtype='object', name=26)

In [70]:
# Print to confirm renaming worked
print(standard_df_cleaned.columns)

Index(['Rk', 'Player', 'Nation', 'Pos', 'Squad', 'Comp', 'Age', 'Born', 'MP',
       'Starts', 'Min', '90s', 'Gls', 'Ast', 'G+A', 'G-PK', 'PK', 'PKatt',
       'CrdY', 'CrdR', 'xG', 'npxG', 'xAG', 'npxG+xAG', 'PrgC', 'PrgP', 'PrgR',
       'Gls', 'Ast', 'G+A', 'G-PK', 'G+A-PK', 'xG', 'xAG', 'xG+xAG', 'npxG',
       'npxG+xAG', 'Matches', '2017-2018'],
      dtype='object', name=26)

## Original version which works but specifically for defending.csv

## Version that is modular and can be used for any df. Column names must be supplied

In [72]:
def rename_duplicate_columns_prime(df, col_name, new_names=None):
    """
    Renames duplicate columns to ensure uniqueness.
    By default, appends _1, _2, etc. to duplicates, or uses new_names if provided.

    Parameters:
        df (pd.DataFrame): The DataFrame with potential duplicate columns.
        col_name (str): The column name you expect to be duplicated.
        new_names (list, optional): List of new names for each duplicate (must match number of duplicates).

    Returns:
        pd.DataFrame: Updated DataFrame with unique column names.
    """
    columns = list(df.columns)
    indices = [i for i, col in enumerate(columns) if col == col_name]
    if len(indices) > 1:
        if new_names and len(new_names) == len(indices):
            for idx, new_col in zip(indices, new_names):
                df.columns.values[idx] = new_col
        else:
            # Keep the first as is, rename the rest with suffixes
            for i, idx in enumerate(indices[1:], 1):
                df.columns.values[idx] = f"{col_name}_{i}"
    return df

In [74]:
for col in defending_df_cleaned.columns:
    print(f"Column: {col}")
    print(defending_df_cleaned[col].unique()[:10])  # Print first 10 unique values
    print("\n")

Column: Rk
['1' '2' '3' '4' '5' '6' '7' '8' '9' '10']


Column: Player
['Patrick van Aanholt' 'Rolando Aarons' 'Ignazio Abate' 'Aymen Abdennour'
 'Aly Abeid' 'Mehdi Abeid' 'David Abraham' 'Tammy Abraham' 'Amir Abrashi'
 'Francesco Acerbi']


Column: Nation
['nl NED' 'eng ENG' 'it ITA' 'tn TUN' 'mr MTN' 'dz ALG' 'ar ARG' 'al ALB'
 'gh GHA' 'sct SCO']


Column: Pos
['DF' 'MF,FW' 'MF' 'FW' 'GK' 'DF,FW' 'DF,MF' 'FW,MF' 'MF,DF' 'FW,DF']


Column: Squad
['Crystal Palace' 'Newcastle Utd' 'Hellas Verona' 'Milan' 'Marseille'
 'Levante' 'Dijon' 'Eint Frankfurt' 'Swansea City' 'Freiburg']


Column: Comp
['eng Premier League' 'it Serie A' 'fr Ligue 1' 'es La Liga'
 'de Bundesliga' 'Comp']


Column: Age
['26' '21' '30' '27' '19' '24' '31' '29' '25' '32']


Column: Born
['1990' '1995' '1986' '1989' '1997' '1992' '1988' '1985' '1987' '1998']


Column: 90s
['24.3' '1.5' '5.7' '11.7' '5.5' '0.9' '13.1' '25.6' '19.2' '9.4']


Column: Tkl
['47' '4' '13' '20' '7' '2' '23' '40' '10' '35']


Column: TklW
['32' '4' '8' '17' '3' '1' '15' '6' '5' '0']


Column: Def 3rd
['29' '3' '4' '10' '5' '1' '8' '15' '26' '2']


Column: Mid 3rd
['15' '1' '4' '9' '2' '14' '10' '7' '18' '22']


Column: Att 3rd
['3' '0' '5' '1' '2' '6' '13' '8' '7' '9']


Column: DribTkl
['16' '4' '1' '6' '0' '8' '27' '22' '5' '15']


Column: Att
['34' '6' '7' '11' '1' '32' '36' '13' '23' '17']


Column: Tkl%
['47.1' '66.7' '14.3' '54.5' '57.1' '0.0' '25.0' '75.0' '7.7' '69.6']


Column: Lost
['18' '2' '6' '5' '3' '1' '24' '9' '12' '7']


Column: Blocks
['24' '3' '22' '5' '1' '11' '29' '8' '42' '2']


Column: Sh
['5' '0' '1' '2' '6' '15' '21' '3' '26' '7']


Column: Pass
['19' '3' '2' '20' '0' '1' '5' '14' '7' '17']


Column: Int
['47' '1' '2' '8' '4' '3' '18' '40' '19' '88']


Column: Tkl+Int
['94' '5' '15' '28' '11' '41' '80' '54' '139' '24']


Column: Clr
['64' '0' '29' '20' '3' '25' '141' '11' '255' '10']


Column: Err
['2' '0' '1' '3' '4' '7' '6' '5' '8' nan]


Column: Matches
['Matches']


Column: 2017-2018
['2017-2018' '2018-2019' '2019-2020' '2020-2021' '2021-2022' '2022-2023'
 '2023-2024']

In [75]:
# Count the frequency of each unique value in 'Nation_cleaned'
nation_value_counts = defending_df_cleaned['Nation'].value_counts()
print("\nFrequency of each unique value in Nation_cleaned:")
print(nation_value_counts)

# Count the frequency of each unique value in 'Comp_cleaned'
comp_value_counts = defending_df_cleaned['Comp'].value_counts()
print("\nFrequency of each unique value in Comp_cleaned:")
print(comp_value_counts)

Frequency of each unique value in Nation_cleaned:
Nation
es ESP     2837
fr FRA     2396
it ITA     1801
de GER     1656
eng ENG    1366
           ...
li LIE        1
tt TRI        1
bm BER        1
la LAO        1
mt MLT        1
Name: count, Length: 136, dtype: int64

Frequency of each unique value in Comp_cleaned:
Comp
it Serie A            4192
es La Liga            4090
fr Ligue 1            3989
eng Premier League    3786
de Bundesliga         3506
Comp                   672
Name: count, dtype: int64

In [76]:
print(defending_df_cleaned.dtypes)

26
Rk           object
Player       object
Nation       object
Pos          object
Squad        object
Comp         object
Age          object
Born         object
90s          object
Tkl          object
TklW         object
Def 3rd      object
Mid 3rd      object
Att 3rd      object
DribTkl      object
Att          object
Tkl%         object
Lost         object
Blocks       object
Sh           object
Pass         object
Int          object
Tkl+Int      object
Clr          object
Err          object
Matches      object
2017-2018    object
dtype: object

In [77]:
def keep_after_first_capital(s):
    """
    Extracts the substring starting from the first uppercase letter in a string.
    If the input is not a string, it returns an empty string.
    """
    if not isinstance(s, str):  # Check if the input is not a string
        return ''
    
    # Regular expression to match from the first uppercase letter to the end
    match = re.search(r'[A-Z].*', s)
    if match:
        return match.group(0)
    return ''

In [78]:
# Apply the function to 'Nation' and 'Comp' columns
defending_df_cleaned['Nation'] = defending_df_cleaned['Nation'].apply(keep_after_first_capital)
defending_df_cleaned['Comp'] = defending_df_cleaned['Comp'].apply(keep_after_first_capital)

# Display the cleaned columns
print(defending_df_cleaned[['Nation', 'Comp']].head(15))

26 Nation            Comp
0     NED  Premier League
1     ENG  Premier League
2     ENG         Serie A
3     ITA         Serie A
4     TUN         Ligue 1
5     MTN         La Liga
6     ALG         Ligue 1
7     ARG      Bundesliga
8     ENG  Premier League
9     ALB      Bundesliga
10    ITA         Serie A
11    GHA         Serie A
12    SCO  Premier League
13    ESP         La Liga
14    ESP         La Liga

In [79]:
def extract_clean_names(df):
    """
    Extracts country codes and league names from messy text.

    Parameters:
        df (pd.DataFrame): The DataFrame containing 'Nation' & 'Comp' columns.

    Returns:
        pd.DataFrame: Updated DataFrame with cleaned columns.
    """
    def keep_after_first_capital(s):
        if not isinstance(s, str):
            return ''
        match = re.search(r'[A-Z].*', s)
        return match.group(0) if match else ''
    
    df['Nation'] = df['Nation'].apply(keep_after_first_capital)
    df['Comp'] = df['Comp'].apply(keep_after_first_capital)
    
    return df

In [80]:
def extract_clean_names_seasons(df):
    """
    Extracts clean names for 'Squad' and 'Competition' columns if they exist.
    """
    def keep_after_first_capital(s):
        if not isinstance(s, str):
            return ''
        match = re.search(r'[A-Z].*', s)
        return match.group(0) if match else ''
    
    for col in ['Squad', 'Competition']:
        if col in df.columns:
            df[col] = df[col].apply(keep_after_first_capital)
    return df

In [157]:
def extract_clean_names_generic(df, columns_to_clean):
    """
    Cleans specified columns in a DataFrame by extracting the substring
    starting from the first uppercase letter.

    Parameters:
        df (pd.DataFrame): The DataFrame to clean.
        columns_to_clean (list): List of column names to clean (e.g., ['Squad', 'Comp', 'Nation']).

    Returns:
        pd.DataFrame: Updated DataFrame with cleaned columns.
    """
    def keep_after_first_capital(s):
        if not isinstance(s, str):
            return ''
        match = re.search(r'[A-Z].*', s)
        return match.group(0) if match else ''

    for col in columns_to_clean:
        if col in df.columns:
            df[col] = df[col].apply(keep_after_first_capital)
    return df

# Usage examples:
# For most tables: extract_clean_names_generic(df, ['Squad', 'Comp'])
# For tables with Nation: extract_clean_names_generic(df, ['Squad', 'Comp', 'Nation'])

In [81]:
defending_df_cleaned.to_csv("defending_cleaned.csv", index=False)

In [82]:
print(defending_df_cleaned.dtypes)

26
Rk           object
Player       object
Nation       object
Pos          object
Squad        object
Comp         object
Age          object
Born         object
90s          object
Tkl          object
TklW         object
Def 3rd      object
Mid 3rd      object
Att 3rd      object
DribTkl      object
Att          object
Tkl%         object
Lost         object
Blocks       object
Sh           object
Pass         object
Int          object
Tkl+Int      object
Clr          object
Err          object
Matches      object
2017-2018    object
dtype: object

In [ ]:
def convert_all_numeric_except_born(df):
    """
    Converts all columns in the DataFrame to float except for 'Born', which is converted to Int64 if present.
    Non-numeric columns (e.g., Player, Squad, Comp, Season, Nation, Pos) will be skipped.

    Parameters:
        df (pd.DataFrame): The DataFrame to convert.

    Returns:
        pd.DataFrame: DataFrame with numeric columns as float and 'Born' as Int64.
    """
    # Columns to exclude from conversion
    exclude_cols = ['Player', 'Squad', 'Comp', 'Season', 'Nation', 'Pos']

    for col in df.columns:
        if col == 'Born':
            df[col] = pd.to_numeric(df[col], errors='coerce').astype('Int64')
        elif col not in exclude_cols:
            df[col] = pd.to_numeric(df[col], errors='coerce').astype(float)
    return df

# Example usage:
# defending_df_cleaned = convert_all_numeric_except_born(defending_df_cleaned)

In [84]:
### 4️⃣ Function to Convert Numeric Columns Safely ###
def convert_numeric_columns(df, numeric_columns):
    """
    Converts specified columns to numeric values, handling errors.

    Parameters:
        df (pd.DataFrame): The DataFrame with columns needing conversion.
        numeric_columns (list): List of column names to convert.

    Returns:
        pd.DataFrame: Updated DataFrame with numeric conversions.
    """
    for col in numeric_columns:
        if col in df.columns:
            df[col] = df[col].astype(str).str.replace('[^\d.]', '', regex=True).replace('', '0')
            df[col] = pd.to_numeric(df[col], errors='coerce').fillna(0)
    # Use pandas nullable integer type for 'Born'
    if 'Born' in df.columns:
        df['Born'] = pd.to_numeric(df['Born'], errors='coerce').astype('Int64')
    return df

In [85]:
print(defending_df_cleaned['Sh'].unique())  # Look for non-numeric values

[ 5  0  1  2  6 15 21  3 26  7  4 24 19 13 14  9 16 11 17  8 27 10 22 12
 18 44 29 45 25 23 59 58 36 20 47 37 32 28 40 38 42 35 34 30 43 39 33 31
 50 56 41 48 52 61 78]

In [86]:
print(defending_df_cleaned.head(5))

26 Rk               Player Nation    Pos           Squad            Comp  Age  \
0   1  Patrick van Aanholt    NED     DF  Crystal Palace  Premier League   26
1   2       Rolando Aarons    ENG  MF,FW   Newcastle Utd  Premier League   21
2   3       Rolando Aarons    ENG  MF,FW   Hellas Verona         Serie A   21
3   4        Ignazio Abate    ITA     DF           Milan         Serie A   30
4   5      Aymen Abdennour    TUN     DF       Marseille         Ligue 1   27

26  Born   90s  Tkl  ...  Lost  Blocks  Sh  Pass Int  Tkl+Int  Clr  Err  \
0   1990  24.3   47  ...    18      24   5    19  47       94   64    2
1   1995   1.5    4  ...     2       3   0     3   1        5    0    0
2   1995   5.7   13  ...     6       3   1     2   2       15    0    0
3   1986  11.7   20  ...     5      22   2    20   8       28   29    0
4   1989   5.5    7  ...     3       5   5     0   4       11   20    0

26  Matches  2017-2018
0         0  2017-2018
1         0  2017-2018
2         0  2017-2018
3         0  2017-2018
4         0  2017-2018

[5 rows x 27 columns]

In [87]:
# Normalize metrics
defending_df_cleaned['Interceptions/90'] = defending_df_cleaned['Int'] / (defending_df_cleaned['90s'] / 90)
defending_df_cleaned['Tackles/90'] = defending_df_cleaned['Tkl'] / (defending_df_cleaned['90s'] / 90)
defending_df_cleaned['90s Played'] = defending_df_cleaned['90s'] / 90

In [89]:
def normalize_metrics_prime(df, per90_columns):
    """
    Normalizes specified columns per 90 minutes.

    Parameters:
        df (pd.DataFrame): The DataFrame containing stats.
        per90_columns (dict): Keys are columns to normalize, values are new column names.

    Returns:
        pd.DataFrame: Updated DataFrame with normalized metrics.
    """
    for col, new_col in per90_columns.items():
        if col in df.columns:
            df[new_col] = df[col] / df['90s']
    return df

In [90]:
print(defending_df_cleaned.dtypes)

26
Rk                   object
Player               object
Nation               object
Pos                  object
Squad                object
Comp                 object
Age                   int64
Born                  int32
90s                 float64
Tkl                   int64
TklW                  int64
Def 3rd               int64
Mid 3rd               int64
Att 3rd               int64
DribTkl              object
Att                   int64
Tkl%                float64
Lost                  int64
Blocks                int64
Sh                    int64
Pass                  int64
Int                   int64
Tkl+Int               int64
Clr                   int64
Err                   int64
Matches               int64
2017-2018            object
Interceptions/90    float64
Tackles/90          float64
90s Played          float64
dtype: object

In [ ]:
### 6️⃣ Function to Process Data (Master Function) ###
def process_data(file_path, correct_column_idx, numeric_columns):
    """
    Master function to process and clean the dataset.

    Parameters:
        file_path (str): Path to the CSV file.
        correct_column_idx (int): Row index where correct headers are.
        numeric_columns (list): Columns that need to be numeric.

    Returns:
        pd.DataFrame: Fully cleaned and processed DataFrame.
    """
    df = pd.read_csv(file_path, header=None)
    df = clean_header_rows_modular(df, correct_column_idx)
    df = rename_duplicate_columns_prime(df)
    df = extract_clean_names(df)
    df = convert_numeric_columns(df, numeric_columns)
    df = normalize_metrics_prime(df)
    
    return df

In [170]:
def process_data_prime(
    file_path,
    header_identifier="Rk",
    columns_to_clean=None,
    duplicate_columns_info=None,
    per90_columns=None,
    min_90s=0
):
    """
    Master function to process and clean the dataset.

    Parameters:
        file_path (str): Path to the CSV file.
        header_identifier (str): Value in the first column that identifies the header row (default 'Rk').
        columns_to_clean (list): Columns to clean with extract_clean_names_generic (e.g., ['Squad', 'Comp', 'Nation']).
        duplicate_columns_info (dict, optional): 
            Keys are column names you expect to be duplicated.
            Values are lists of new names for those columns (or None to use default suffixes).
        per90_columns (dict, optional): Columns to normalize per 90 minutes.
        min_90s (int, optional): Minimum 90s threshold for filtering.

    Returns:
        pd.DataFrame: Fully cleaned and processed DataFrame.
    """
    # 1. Read and clean header rows
    df = pd.read_csv(file_path, header=None)
    df = clean_header_rows_modular(df, header_identifier)

    # 2. Rename duplicate columns if needed
    if duplicate_columns_info:
        for col_name, new_names in duplicate_columns_info.items():
            df = rename_duplicate_columns_prime(df, col_name, new_names)

    # 3. Clean text columns (Squad, Comp, Nation, etc.)
    if columns_to_clean:
        df = extract_clean_names_generic(df, columns_to_clean)
    else:
        raise ValueError("columns_to_clean must be provided (e.g., ['Squad', 'Comp'])")
    
    #3.5. Adding season column if not present
    df.columns = list(df.columns[:-1]) + ["Season"]
    
    # 3.6. Drop 'Matches' column if present
    if "Matches" in df.columns:
        df = df.drop(columns=["Matches"])

    # 4. Convert types: all numeric except Born (Int64)
    df = convert_all_numeric_except_born(df)

    # 5. Filter by min_90s if column exists
    if '90s' in df.columns:
        df = df[df['90s'] >= min_90s]
    else:
        raise KeyError("'90s' column not found in DataFrame after cleaning.")

    # 6. Normalize metrics if requested
    if per90_columns:
        df = normalize_metrics_prime(df, per90_columns)

    # 7. Final error checks
    if not df.columns.is_unique:
        raise ValueError("DataFrame columns are not unique after processing.")
    if 'Season' not in df.columns:
        raise ValueError("'Season' column missing after processing.")

    return df

# Example usage for passing:
# passing_df_cleaned = process_data_prime(
#     "uncleaned_data_csv/passing.csv",
#     header_identifier="Rk",
#     columns_to_clean=['Squad', 'Comp', 'Nation'],
#     duplicate_columns_info=duplicate_columns_passing,
#     per90_columns=per90_cols_passing,
#     min_90s=5
# )

In [ ]:
duplicate_columns_def = {"Tkl": ["Tkl", "DribTkl"]}

duplicate_columns_passing = {
    "Cmp":   ["Cmp_Total", "Cmp_Short", "Cmp_Medium", "Cmp_Long"],
    "Att":   ["Att_Total", "Att_Short", "Att_Medium", "Att_Long"],
    "Cmp%":  ["Cmp%_Total", "Cmp%_Short", "Cmp%_Medium", "Cmp%_Long"]
}

per90_cols_passing = {
    "Cmp_Total": "Cmp_Total/90",
    "Cmp_Short": "Cmp_Short/90",
    "Cmp_Medium": "Cmp_Medium/90",
    "Cmp_Long": "Cmp_Long/90",
    "Att_Total": "Att_Total/90",
    "Att_Short": "Att_Short/90",
    "Att_Medium": "Att_Medium/90",
    "Att_Long": "Att_Long/90"
}

per90_cols_defending = {
    "Int": "Interceptions/90",
    "Tkl": "Tackles/90",
}

In [171]:
# Example usage for passing:
passing_df_cleaned = process_data_prime(
    "uncleaned_data_csv/passing.csv",
    header_identifier="Rk",
    columns_to_clean=['Squad', 'Comp', 'Nation'],
    duplicate_columns_info=duplicate_columns_passing,
    per90_columns=per90_cols_passing,
    min_90s=5
)

In [172]:
passing_df_cleaned.head()

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,90s,Cmp_Total,...,PrgP,Season,Cmp_Total/90,Cmp_Short/90,Cmp_Medium/90,Cmp_Long/90,Att_Total/90,Att_Short/90,Att_Medium/90,Att_Long/90
0,1,Patrick van Aanholt,NED,DF,Crystal Palace,Premier League,26.0,1990,24.3,884.0,...,92.0,2017-2018,36.378601,19.711934,12.798354,3.045267,48.395062,21.893004,17.736626,6.255144
2,3,Rolando Aarons,ENG,"MF,FW",Hellas Verona,Serie A,21.0,1995,5.7,87.0,...,17.0,2017-2018,15.263158,8.771930,4.385965,0.701754,21.052632,10.526316,6.140351,1.403509
3,4,Ignazio Abate,ITA,DF,Milan,Serie A,30.0,1986,11.7,625.0,...,81.0,2017-2018,53.418803,23.333333,24.529915,4.957265,66.324786,25.128205,28.461538,10.256410
4,5,Aymen Abdennour,TUN,DF,Marseille,Ligue 1,27.0,1989,5.5,310.0,...,12.0,2017-2018,56.363636,22.909091,26.909091,4.363636,60.545455,23.272727,28.181818,6.181818
6,7,Mehdi Abeid,ALG,MF,Dijon,Ligue 1,24.0,1992,13.1,513.0,...,49.0,2017-2018,39.160305,17.633588,16.717557,3.358779,46.183206,20.152672,18.702290,4.732824

In [132]:
passing_df_cleaned = clean_header_rows(passing_df, 26)
print(list(passing_df_cleaned.columns))

['Rk', 'Player', 'Nation', 'Pos', 'Squad', 'Comp', 'Age', 'Born', '90s', 'Cmp', 'Att', 'Cmp%', 'TotDist', 'PrgDist', 'Cmp', 'Att', 'Cmp%', 'Cmp', 'Att', 'Cmp%', 'Cmp', 'Att', 'Cmp%', 'Ast', 'xAG', 'xA', 'A-xAG', 'KP', '1/3', 'PPA', 'CrsPA', 'PrgP', 'Matches', '2017-2018']

In [96]:
print(passing_df_cleaned.dtypes)
print(passing_df_cleaned['Born'].isnull().sum())
print(passing_df_cleaned['Born'].unique())

26
Rk           object
Player       object
Nation       object
Pos          object
Squad        object
Comp         object
Age          object
Born         object
90s          object
Cmp          object
Att          object
Cmp%         object
TotDist      object
PrgDist      object
Cmp          object
Att          object
Cmp%         object
Cmp          object
Att          object
Cmp%         object
Cmp          object
Att          object
Cmp%         object
Ast          object
xAG          object
xA           object
A-xAG        object
KP           object
1/3          object
PPA          object
CrsPA        object
PrgP         object
Matches      object
2017-2018    object
dtype: object
5
['1990' '1995' '1986' '1989' '1997' '1992' '1988' '1985' '1987' '1998'
 '2000' '1993' '1981' '1996' '1994' '1999' '1991' '1983' '1984' '2001'
 '1980' '1977' '1982' '1978' '1979' nan 'Born' '2002' '2003' '2004' '2005'
 '2006' '2007' '2008']

In [139]:
passing_df_cleaned = process_data_prime(
    "uncleaned_data_csv/passing.csv",
    26,
    numeric_columns_passing,
    duplicate_columns_info=duplicate_columns_passing,
    per90_columns=per90_cols_passing,
    min_90s=5
)

In [119]:
defending_df_cleaned = process_data_prime(
    'uncleaned_data_csv/defending.csv',
    26,
    numeric_columns_defending,
    duplicate_columns_info=duplicate_columns_def,
    per90_columns=per90_cols_defending,
    min_90s=5
)

In [ ]:
fbref_headers = [
    "Rk", "Squad", "Comp", "# Pl", "Age", "Poss", "MP", "Starts", "Min", "90s",
    "Gls", "Ast", "G+A", "G-PK", "PK", "PKatt", "CrdY", "CrdR",
    "xG", "npxG", "xAG", "npxG+xAG",
    "PrgC", "PrgP",
    "Gls_per90", "Ast_per90", "G+A_per90", "G-PK_per90", "G+A-PK_per90",
    "xG_per90", "xAG_per90", "xG+xAG_per90", "npxG_per90", "npxG+xAG_per90",
    "Season"
]

# Drop the first row (header row in CSV)
seasons_stats_df = seasons_stats_df.drop(0).reset_index(drop=True)

# Assign the correct headers
seasons_stats_df.columns = fbref_headers

# 2. (Optional) Remove internal header rows if you see any
# seasons_stats_cleaned = remove_internal_header_rows(seasons_stats_cleaned, seasons_stats_cleaned.columns)

# 3. Extract clean names (if needed)
seasons_stats_cleaned = extract_clean_names_seasons(seasons_stats_df)

# 4. Convert numeric columns (define as needed)
numeric_columns_seasons = [
    '# of Players', 'Average Age', 'Possession', 'Matches Played', 'Starts', 'Minutes',
    '90s Played', 'Goals', 'Assists', 'Goals + Assists', 'Non-Penalty Goals',
    'Penalty Kicks Made', 'Penalty Kicks Attempted', 'Yellow Cards', 'Red Cards',
    'xG: Expected Goals', 'npxG: Non-Penalty xG', 'xAG: Exp. Assisted Goals',
    'npxG + xAG', 'Progressive Carries', 'Progressive Passes', 'Goals/90', 'Assists/90',
    'Goals + Assists/90', 'Non-Penalty Goals/90'
    # Add more columns as needed
]
seasons_stats_cleaned = convert_numeric_columns(seasons_stats_cleaned, numeric_columns_seasons)

seasons_stats_cleaned['Comp'] = seasons_stats_cleaned['Comp'].apply(keep_after_first_capital)

In [113]:
standard_headers = [
    "Rk", "Player", "Nation", "Pos", "Squad", "Comp", "Age", "Born", "MP",
    "Starts", "Min", "90s", "Gls", "Ast", "G+A", "G-PK", "PK", "PKatt",
    "CrdY", "CrdR", "xG", "npxG", "xAG", "npxG+xAG", "PrgC", "PrgP", "PrgR",
    "Gls_per90", "Ast_per90", "G+A_per90", "G-PK_per90", "G+A-PK_per90",
    "xG_per90", "xAG_per90", "xG+xAG_per90", "npxG_per90", "npxG+xAG_per90",
    "Matches", "Season"
]

standard_df_cleaned.columns = standard_headers

standard_df_cleaned = standard_df_cleaned.drop(columns=["Matches"])

extract_clean_names(standard_df_cleaned)

extract_clean_names_seasons(standard_df_cleaned)

# standard_df_cleaned['Squad'] = standard_df_cleaned['Squad'].apply(keep_after_first_capital)
# standard_df_cleaned['Comp'] = standard_df_cleaned['Comp'].apply(keep_after_first_capital)

numeric_columns_standard = [
    "Rk", "Age", "Born", "MP", "Starts", "Min", "90s",
    "Gls", "Ast", "G+A", "G-PK", "PK", "PKatt", "CrdY", "CrdR",
    "xG", "npxG", "xAG", "npxG+xAG", "PrgC", "PrgP", "PrgR",
    "Gls_per90", "Ast_per90", "G+A_per90", "G-PK_per90", "G+A-PK_per90",
    "xG_per90", "xAG_per90", "xG+xAG_per90", "npxG_per90", "npxG+xAG_per90"
]

standard_df_cleaned = convert_numeric_columns(standard_df_cleaned, numeric_columns_standard)

# (Optional) Save or display
standard_df_cleaned.head()
# standard_df_cleaned.to_csv("cleaned_data/standard_cleaned.csv", index=False)

ValueError: Length mismatch: Expected axis has 38 elements, new values have 39 elements

In [120]:
def process_fbref_table(
    df,
    headers,
    columns_to_drop=None,
    clean_name_func=None,
    numeric_columns=None,
    min_90s=0,
    ninety_col='90s'
):
    """
    Modular cleaning for FBref tables with custom headers and options.

    Parameters:
        df (pd.DataFrame): Raw DataFrame.
        headers (list): List of column headers to assign.
        columns_to_drop (list, optional): Columns to drop.
        clean_name_func (function, optional): Function to clean text columns.
        numeric_columns (list, optional): Columns to convert to numeric.
        min_90s (int, optional): Minimum 90s threshold.
        ninety_col (str, optional): Name of the 90s column.

    Returns:
        pd.DataFrame: Cleaned DataFrame.
    """
    # Drop first row if it's an internal header
    df = df.drop(0).reset_index(drop=True)
    df.columns = headers

    if columns_to_drop:
        df = df.drop(columns=columns_to_drop)

    if clean_name_func:
        df = clean_name_func(df)

    if numeric_columns:
        df = convert_numeric_columns(df, numeric_columns)

    if ninety_col in df.columns:
        df = df[df[ninety_col] >= min_90s]

    return df

In [121]:
seasons_stats_cleaned = process_fbref_table(
    seasons_stats_df,
    fbref_headers,
    columns_to_drop=None,
    clean_name_func=extract_clean_names_seasons,
    numeric_columns=numeric_columns_seasons,
    min_90s=5,
    ninety_col='90s Played'
)

In [122]:
standard_df_cleaned = process_fbref_table(
    standard_df,
    standard_headers,
    columns_to_drop=["Matches"],
    clean_name_func=extract_clean_names_seasons,
    numeric_columns=numeric_columns_standard,
    min_90s=5,
    ninety_col='90s'
)

In [ ]:
seasons_wages_df['Competition'] = seasons_wages_df['Competition'].apply(keep_after_first_capital)

In [ ]:
# Test for Defending Data
def test_defending_df(defending_df_cleaned):
    print("Testing Defending DataFrame...")
    # Check 'Season' column exists
    assert "Season" in defending_df_cleaned.columns, "Season column missing in defending_df_cleaned"
    # Check for unique columns
    assert defending_df_cleaned.columns.is_unique, "Defending DataFrame columns are not unique"
    print("Defending DataFrame columns:", list(defending_df_cleaned.columns))
    print("Defending DataFrame test passed!\n")

# Test for Passing Data
def test_passing_df(passing_df_cleaned):
    print("Testing Passing DataFrame...")
    # Check 'Season' column exists
    assert "Season" in passing_df_cleaned.columns, "Season column missing in passing_df_cleaned"
    # Check for renamed duplicate columns
    expected_cols = [
        "Cmp_Total", "Cmp_Short", "Cmp_Medium", "Cmp_Long",
        "Att_Total", "Att_Short", "Att_Medium", "Att_Long",
        "Cmp%_Total", "Cmp%_Short", "Cmp%_Medium", "Cmp%_Long"
    ]
    for col in expected_cols:
        assert col in passing_df_cleaned.columns, f"{col} missing in passing_df_cleaned"
    print("Passing DataFrame columns:", [col for col in passing_df_cleaned.columns if "Cmp" in col or "Att" in col])
    print("Passing DataFrame test passed!\n")

# Run the tests
test_defending_df(defending_df_cleaned)
test_passing_df(passing_df_cleaned)

Testing Defending DataFrame...
Defending DataFrame columns: ['Rk', 'Player', 'Nation', 'Pos', 'Squad', 'Comp', 'Age', 'Born', '90s', 'Tkl', 'TklW', 'Def 3rd', 'Mid 3rd', 'Att 3rd', 'DribTkl', 'Att', 'Tkl%', 'Lost', 'Blocks', 'Sh', 'Pass', 'Int', 'Tkl+Int', 'Clr', 'Err', 'Matches', 'Season', 'Interceptions/90', 'Tackles/90']
Defending DataFrame test passed!

Testing Passing DataFrame...
Passing DataFrame columns: ['Cmp_Total', 'Att_Total', 'Cmp%_Total', 'Cmp_Short', 'Att_Short', 'Cmp%_Short', 'Cmp_Medium', 'Att_Medium', 'Cmp%_Medium', 'Cmp_Long', 'Att_Long', 'Cmp%_Long', 'Cmp_Total/90', 'Cmp_Short/90', 'Cmp_Medium/90', 'Cmp_Long/90', 'Att_Total/90', 'Att_Short/90', 'Att_Medium/90', 'Att_Long/90']
Passing DataFrame test passed!

In [140]:
numeric_df = passing_df_cleaned.select_dtypes(include=[np.number]).astype(float)

print("Total NaNs:", numeric_df.isnull().sum().sum())
print("Total inf:", np.isinf(numeric_df.values).sum())
print("Total +inf:", (numeric_df.values == np.inf).sum())
print("Total -inf:", (numeric_df.values == -np.inf).sum())

print("Columns with inf:", numeric_df.columns[np.isinf(numeric_df).any()].tolist())
print("Columns with -inf:", numeric_df.columns[(numeric_df == -np.inf).any()].tolist())

Total NaNs: 1
Total inf: 0
Total +inf: 0
Total -inf: 0
Columns with inf: []
Columns with -inf: []

In [146]:
nan_counts = passing_df_cleaned.isnull().sum()
print("NaN counts per column:")
print(nan_counts[nan_counts > 0])

NaN counts per column:
Series([], dtype: int64)

In [143]:
# Find and display all rows where Age or Born is NaN
nan_rows = passing_df_cleaned[passing_df_cleaned['Age'].isnull() | passing_df_cleaned['Born'].isnull()]
print("Rows with NaN in Age or Born:")
print(nan_rows)

Rows with NaN in Age or Born:
         Rk            Player Nation Pos        Squad     Comp  Age  Born  \
18785  2075  Marco Pellegrino         DF  Salernitana  Serie A  NaN  <NA>

       90s  Cmp_Total  ...  Matches     Season Cmp_Total/90 Cmp_Short/90  \
18785  6.1        211  ...  Matches  2023-2024    34.590164    13.606557

       Cmp_Medium/90  Cmp_Long/90 Att_Total/90  Att_Short/90  Att_Medium/90  \
18785      18.360656     2.622951    41.967213     15.409836      20.655738

      Att_Long/90
18785    5.409836

[1 rows x 42 columns]

In [144]:
# Fill missing data for Marco Pellegrino
mask = (passing_df_cleaned['Player'] == 'Marco Pellegrino') & (passing_df_cleaned['Squad'] == 'Salernitana')
passing_df_cleaned.loc[mask, 'Born'] = 2002
passing_df_cleaned.loc[mask, 'Nation'] = 'ARG'

# Optionally, fill Age if you want (e.g., 2024 - 2002 = 22)
passing_df_cleaned.loc[mask, 'Age'] = 22

In [145]:
# Save the cleaned DataFrames
defending_df_cleaned.to_csv("cleaned_data/defending_cleaned.csv", index=False)
passing_df_cleaned.to_csv("cleaned_data/passing_cleaned.csv", index=False)

In [ ]:
seasons_stats_cleaned.to_csv("cleaned_data/seasons_stats_cleaned.csv", index=False)

In [ ]:
standard_df_cleaned.to_csv("cleaned_data/standard_cleaned.csv", index=False)

In [ ]:
seasons_wages_df.to_csv("cleaned_data/seasons_wages_cleaned.csv", index=False)