In [6]:
import pandas as pd
import re

In [7]:
seasons_wages_raw = pd.read_csv("../uncleaned_data_csv/seasons_wages.csv")

In [8]:
seasons_wages_raw.head()

,Rk,Squad,Competition,# of Players,Weekly Wages,Annual Wages,% Estimated,Season
0,1,Barcelona,es La Liga,33,"€ 4,682,115 (£ 3,925,993, $4,771,599)","€ 243,470,000 (£ 204,151,634, $248,123,125)",100%,2017-2018
1,2,Real Madrid,es La Liga,33,"€ 3,949,904 (£ 3,312,027, $4,025,393)","€ 205,395,000 (£ 172,225,426, $209,320,446)",100%,2017-2018
2,3,Paris S-G,fr Ligue 1,35,"€ 3,895,462 (£ 3,266,377, $3,969,910)","€ 202,564,000 (£ 169,851,608, $206,435,344)",100%,2017-2018
3,4,Manchester Utd,eng Premier League,35,"€ 3,810,955 (£ 3,195,596, $3,883,356)","€ 198,169,670 (£ 166,171,000, $201,934,520)",100%,2017-2018
4,5,Arsenal,eng Premier League,45,"€ 3,629,433 (£ 3,043,385, $3,698,385)","€ 188,730,521 (£ 158,256,000, $192,316,043)",100%,2017-2018

In [ ]:
def clean_seasons_wages(df):
    "Rename competition to league and then fix the structure using regex"
    df = df.rename(columns={"Competition": "League"})
    df["League"] = df["League"].astype(str).str.extract(r"([A-Z][\w\s]+)")  # Extracts just the league name
    
    """Extracts EUR, GBP, and USD values from a string like:
    '€ 4,682,115 (£ 3,925,993, $4,771,599)'
    Returns a dict: {'EUR': float, 'GBP': float, 'USD': float}
    """
    if pd.isnull(s):
        return {'EUR': None, 'GBP': None, 'USD': None}
    s = str(s)
    eur = gbp = usd = None
    eur_match = re.search(r'€\s?([\d,]+)', s)
    gbp_match = re.search(r'£\s?([\d,]+)', s)
    usd_match = re.search(r'\$\s?([\d,]+)', s)
    if eur_match:
        eur = float(eur_match.group(1).replace(',', ''))
    if gbp_match:
        gbp = float(gbp_match.group(1).replace(',', ''))
    if usd_match:
        usd = float(usd_match.group(1).replace(',', ''))
    return {'EUR': eur, 'GBP': gbp, 'USD': usd}

    """Adds columns for EUR, GBP, and USD for a given wage column."""
    extracted = df[wage_col].apply(extract_currency_values)
    df[f'{prefix} Wages EUR'] = extracted.apply(lambda x: x['EUR'])
    df[f'{prefix} Wages GBP'] = extracted.apply(lambda x: x['GBP'])
    df[f'{prefix} Wages USD'] = extracted.apply(lambda x: x['USD'])
    
    """
    Cleans the seasons_wages DataFrame:
    - Cleans and renames the competition column
    - Extracts EUR, GBP, and USD values for weekly and annual wages
    - Stores exchange rates as attributes for reference
    Returns the cleaned DataFrame.
    """
    df = clean_comp_column(df)
    df = add_wage_columns(df, 'Weekly Wages', 'Weekly')
    df = add_wage_columns(df, 'Annual Wages', 'Annual')
    # Optionally, drop the original wage columns if you only want the extracted ones:
    # df = df.drop(columns=['Weekly Wages', 'Annual Wages'])
    # Store exchange rates as attributes for reference
    df.attrs['EUR_to_USD'] = eur_to_usd
    df.attrs['GBP_to_USD'] = gbp_to_usd
    
    return df

SyntaxError: incomplete input (1751092290.py, line 1)